*{
    overflow-x: hidden;
}

#nav{
    padding:10px;
    float: right;
   
}

li{
    display:inline;
}

a{
    color:black;
}
.a{
    background-image:url(../images/fab.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 800px;
    width: auto; */
}
#b{
   text-align:center;
   padding-top: 35px;
   font-size: 45px;
   color:white;

}

#d{
    color:black;
    background-color: white;
    padding:100px;
    text-align:center;
}

.f{
    text-align:left;
}

#e{
    color:white;
    background-color:darkorange;
    /* padding:100px; */
    text-align: center;
}

#d2-show{
    width:200px;

}

#d1-show{
    width:200px;
}

#d3-show{
    width:200px;
}

#d4-show{
    width:200px;
}
#k-hidden{
    display:none;
}
#l-hidden{
    display:none;
}
#m-hidden{
    display:none;
}
#n-hidden{
    display:none;
}

